<% include ./partials/header %>
    
    <img src="/images/portrait.png">
    
    <h1>Lewis Unsworth</h1>
    <h3> Web Developer</h3>
    
    <div class="content-links">
        <ul>
            <li class="grow" id="about-button">About Me</li>
            <li class="grow" id="qualifications-button">Qualifications</li>
            <li class="grow" id="contact-button">Contact</li>
        </ul>
    </div>
    
        <div id="content">
                <p id="text">
                
                </p>
                
                

                
                </div>
                
                
        

    



<% include ./partials/footer %>
